body{
	font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}



.NewUser{
	text-decoration: none;
	border: none;
	background-color: #5E6EB2;
	color: white;
	font-size: 130%;
	padding: 7px;
	width: 170px;
	border-radius: 15px;
}
.NewUserdiv{
	width: 100%;
	display: flex;
	justify-content: space-evenly;
	margin-bottom: 50px;
}
.buscar{
	padding: 10px;
	outline: none;
	width: 270px;
	border-radius: 15px;
	background-color: #dadce8;
	border: none;
	font-size: 110%;
}
.NewUser:hover{
	background-color: #515E97;
}
.buscar:hover{
	background-color: #C0C2CB;
}


.tabla{
	border-color: black 1px solid;
	border: black 3px solid;
	border-spacing: 0;
	margin: auto auto;
	width: 60%;
	text-align: center;

	font-size: 130%;
}

.tr{
	background-color: #5E6EB2;
}
.tr2 td{
	border:1px solid;
	padding:5px ;
}
.tr th{
	border:1px solid;
	padding:5px;
}
th p{
	color: white;
}

.edit{
	width: 30px;
	height: 30px;
	margin-top: 5px;
	margin-bottom: 5px;
}

.delete{
	width: 30px;
	height: 30px;
}

a input[type="submit"],button
{
	font-size: 14px;
	text-align:center;
	width: 180px;
	display: inline-block;
	background-color:#5E6EB2;
	padding: 6px 10px;
	border-radius:5px;
	text-decoration: none;
	color:black;
	border:1px solid black;
	cursor:pointer;
}

input[type="text"]
{
	width: 30px;
    height: 30px;
	font-size:18px;
	margin-right:10px;
	margin-top:5px;
}

img
{
	width:100px;
	height:100px;
	
}

hr
{
	width:96%;
}

.contenedor_productos {
	float: left;
	background: white;
	position: relative;
	margin:1%;
	border: 4px solid black;
	border-radius:5px;
	text-align:center;
	padding:20px 40px;
	margin-bottom:4%;
	
}
.imagen {
	width: 155px;
	height: 185px;
	float: left;
	padding: 10px;
	 margin: 10px;
}

.nombreProducto{
margin: -0px;
margin-bottom: -10px;

font-style: normal;
font-size: 30px;
color: #000000;
display: inline-block;
}

.codigoProducto{
margin:10px;
font-size: 20px;
margin-top: 10px;
font-style: normal;
color: #000000;
display: inline-block;
}

.precioProducto{
margin: 10px;;
font-size: 20px;
margin-top: -10px;
font-style: normal;
color: #000000;
display: inline-block;


}

.totalProducto{
	display: inline-block;
	margin-bottom: -10px;

	font-size: 20px;

	font-style: normal;
	color: #000000;
}

.totalPedio{
	font-size: 25px;
	font-style: normal;
	color: #000000;
	text-align:right;
}

.totalPedido{
	margin: 0%;
	font-size: 25px;

	font-style: normal;
	color: #000000;
	text-align:right;	
}

#cantidad{
	display: inline-block;
	color: #000000;
	text-align:right;
	margin-bottom: -10px;	
}

.finalizar{
	float:right;
}

button{
	padding: 3px;
	color: #7780CC;
	background: transparent;
	border: 2px solid #7780CC;
	border-radius: 6px;
	color:white;
	text-decoration:none;
	height: 50px;
	width: 470px;
}
button:hover {
	background-color: #7780CC;
	color: white;
}
button:hover a {
	background-color: #7780CC;
	color: white;
}

 
button a{
	color:#7780CC;
	font-size: 20px;
	text-decoration:none;	

}

#contendedor {
	float: left;
	width: 700px;
  }

  #lado{
	float: right;
	width: 500px;
	margin-right: 37px;
	position: fixed ;
	top:240;
	right: 0;
  }

  @media only screen and (max-width: 1100px) {
	#lado {
	  width: 200px;
	}
	button{
		width: 180px;
		text-align: center;
		float: left;
		margin-left: 10%;
	}

	button a{
		padding-bottom: 5px;
	}

  }

.tituloTotal{
	font-size: 25px;
	font-style: normal;
	color: #000000;
}

#conte{
width: 500px;
height: 340px;
background-color:#C0C2CB;
}

#conte p {
	margin-left: 15px;

}